# Скопируй этот файл в terraform.tfvars и заполни своими данными
yc_token      = "ваш-secret-key-от-сервисного-аккаунта"
yc_cloud_id   = "5"
yc_folder_id  = ""
domain        = "example.com"
# public_ip   = "192.0.2.1"
