name: Generate .terraform.lock.hcl

on:
  workflow_dispatch:  # Запуск вручную из GitHub UI

jobs:
  generate-lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.0

      - name: Clean up
        run: |
          rm -rf .terraform
          rm -f .terraform.lock.hcl

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init

      - name: Commit .terraform.lock.hcl
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add terraform/.terraform.lock.hcl
          git commit -m "chore: update .terraform.lock.hcl with linux_amd64 checksums"
          git push
